CrosshairTooltip
{
	position: absolute;
	top: 0;
	left: 0;
	width: 0px;
	height: 0px;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 20px;
}

.inner
{
	width: 500px;
	//background-color: red;
	height: 200px;
	position: absolute;
	left: -250px;
	top: 10px;
	justify-content: center;
	mix-blend-mode: lighten;
	color: #f80;
	text-shadow: 0px 0px 6px #f506;
}

.inner .icon
{
	position: absolute;
	font-family: Material Icons;
	font-size: 32px;
}

.inner .title
{
	margin-top: 48px;
	font-size: 16px;
	font-family: Poppins;
}

.inner
{
	opacity: 0;
	transition: all 0.1s ease-out;
	transform: scale( 0.9 );
	transform-origin: 50% 0%;
}

.active .inner
{
	opacity: 1;
	transform: scale( 1 );
}