InventoryWeapon
{
    background-color: #f701;
    padding: 0px 16px;
    font-size: 18px;
    white-space: nowrap;
    color: transparent;
    height: 32px;
    align-items: center;
    justify-content: center;
    background-color: #f701;
    transition: all 0.2s ease-in;
    box-shadow: 0px 0px 150px #f800;
    font-weight: bold;
    font-family: poppins;
    border-radius: 4px;
}

.active InventoryWeapon
{
    background-color: #ff770005;
    color: #f806;
    width: 100%;
    height: 48px;
}

.active InventoryWeapon.active
{
    color: #fc5;
    box-shadow: 0px 0px 50px #f802;
    background-color: #f704;
    text-shadow: 0px 0px 10px #f50;
}

InventoryWeapon .icon
{
    font-family: Material Icons;
    font-size: 32px;
    opacity: 1;
    transform: scale( 0.9);
    transition: all 0.1s ease-in;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-tint: #f704;
    background-color: white;
}

InventoryWeapon.selected
{
    color: #fc5;
    box-shadow: 0px 0px 50px #f802;
    background-color: #f704;
    text-shadow: 0px 0px 10px #f50;
    transform: scale( 2 );
    transition: all 0.2s ease-in;
}

.active InventoryWeapon.active .icon, InventoryWeapon.selected .icon
{
    opacity: 1;
    background-tint: #fc5;

}
