InventorySlot
{
    flex-direction: column;
    gap: 8px;
    opacity: 0.4;
    width: 32px;
    transition: all 0.1s ease;
    
}

InventorySlot .index
{
    background-color: #f701;
    aspect-ratio: 1;
    height: 32px;
    width: 32px;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    border-radius: 4px;
}

InventorySlot.active
{
    opacity: 1;
    width: 110px;
}

InventorySlot > .list
{
    flex-direction: column;
    gap: 4px;
}