@using Sandbox;
@using Sandbox.UI;
@inherits Panel

<root>
    <div class="icon" @ref="IconPanel"></div>
</root>

@code
{
    public BaseWeapon Weapon { get; set; }
    public bool IsActive { get; set; }
    public bool IsHovered { get; set; }

    Panel IconPanel{ get; set; }

    public void ApplyIcon()
    {
        if ( !string.IsNullOrWhiteSpace(Weapon.DisplaySvg) )
        {
            var texture = Texture.CreateFromSvgSource(Weapon.DisplaySvg, null, 200, Color.White);
            IconPanel.Style.SetBackgroundImage(texture);
        }
    }

    public override void Tick()
    {
        if (!Weapon.IsValid()) return;

        SetClass("active", IsHovered);
        SetClass("selected", IsActive);

        ApplyIcon();
    }

}
